@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-sm: 12px;
  --font-md: 16px;
  --font-lg: 20px;
  --border-radius: 10px;
  --font-weight-bold: 800;
  --bar-color: rgba(255, 255, 255, 0.1);
  --window-color: rgba(255, 255, 255, 0.8);
  --main-color: black;
  --secondary-color: #aaa;
  --highlight-color: rgba(255, 155, 170, 0.437);

  --pink: #ff74a4;
  --violet: #9f6ea3;
  --white: #fff;
  --lightshadow: rgba(0, 0, 0, 0.15);
  --lightblack: #515c6f;
  --pinkshadow: #ffcbdd;
  --darkwhite: #cecaca;

  --darkModeBackGround: rgba(66, 65, 65, 0.415);
}

/* Common tag ------------------------------------------------------- */

a {
  text-decoration: none;
}

li {
  display: inline-block;
}

.HIDDEN_D {
  display: none;
}

.DISPLAY_F {
  display: flex;
}

.HIDDEN_V {
  visibility: hidden;
}

.FLEX_C {
  flex-direction: column;
}

body {
  font-family: "SUITE-Regular";
  transform: rotate(0.04deg);
}

.background_img {
  position: relative;
  top: 0;
  left: 0;
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

button,
input {
  font-family: "SUITE-Regular";
}

.DARK_MODE {
  --main-color: #aaa;
  --secondary-color: white;
  --black: white;
  --window-color: rgba(0, 0, 0, 0.6);
  --bar-color: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(251, 210, 123, 0.437);
}

/* login screen ------------------------------------------------------- */
.login_box {
  position: absolute;
  top: 50vh;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_name {
  text-align: center;
  margin: 10px 0;
  padding: 8px;
  width: 120%;
  border: 1px solid gray;
  border-radius: var(--border-radius);
  background-color: rgba(225, 225, 225, 0.812);
}

.login_button {
  padding: 10px;
  background-color: rgba(225, 225, 225, 0.812);
  border-radius: var(--border-radius);
  border: none;
}

.login_button:hover {
  cursor: pointer;
  background-color: rgb(167, 162, 162);
}

/* Header ------------------------------------------------------------------*/

/* body_Header */
.navbar {
  position: relative;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3vh;
  color: var(--main-color);
  font-size: var(--font-md);
  background-color: var(--bar-color);
  padding: 3px;
}

/* Header_inner*/
.navbar_menus {
  margin: 5px;
  font-size: var(--font-md);
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.menus_menu {
  color: var(--main-color);
  font-size: var(--font-md);
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 5px;
}

.menus_logo {
  background-color: transparent;
  margin-left: 6px;
  border: none;
  color: var(--main-color);
  font-size: var(--font-lg);
  cursor: pointer;
}

.menus_icons {
  display: flex;
  font-size: var(--font-md);
  position: relative;
  margin-right: 10px;
  flex-wrap: nowrap;
  padding-top: 1.3vh;
}

.weather_icon {
  position: relative;
  height: 30px;
  bottom: 0.7vh;
  width: 10%;
}

.clock_text {
  white-space: nowrap;
}

.logout_button {
  position: relative;
  left: 45px;
  background-color: var(--bar-color);
  border: none;
  border-radius: var(--border-radius);
  color: #c20000;
  cursor: pointer;
  margin: 3px;
  padding: 10px;
}

.weatherIcon {
  width: 50px;
  height: 50px;
  justify-content: baseline;
}

/* main_content -------------------------------------------- */

/* 투두리스트 관련 */

.topbar {
  display: flex;
  width: 100%;
  height: 4vh;
  padding: 10px;
}
.circle1 {
  border-radius: 100%;
  background-color: red;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.circle2 {
  border-radius: 100%;
  background-color: rgb(215, 152, 81);
  width: 20px;
  height: 20px;
  margin: 5px;
}
.circle3 {
  border-radius: 100%;
  background-color: green;
  width: 20px;
  height: 20px;
  margin: 5px;
}
/*main--------------------------------------------------------------------------------------------*/

.todo_container {
  display: block;
  background-color: var(--window-color);
  width: 50%;
  height: 80vh;
  border-radius: 20px;
  margin: 5px;
  border: none;
}

.todo_title {
  color: var(--main-color);
}

.person_icon {
  color: var(--main-color);
}

.todolist_title {
  color: var(--main-color);
}

.end_worklist_title {
  color: var(--main-color);
}

.checkboxes_title {
  color: var(--main-color);
}

.addworkbox_title {
  color: var(--main-color);
  font-weight: bold;
}

.todo_main {
  display: flex;
}

.vline {
  border-left: thin solid var(--main-color);
  height: 80vh; /*header과 main을 합친 height값 */
  position: absolute;
  left: 20%;
}

.worklist {
  width: 39%;
  height: 80vh;
}

.worklist_middlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 3vh;
  font-weight: bold;
  padding: 0 10px;
}

.list_container {
  position: relative;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.category1 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.category2 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.visible1 {
  color: var(--main-color);
  font-weight: bold;
}
.visible1:hover {
  background-color: rgba(123, 122, 122, 0.429);
  border-radius: 50px;
  cursor: pointer;
}

.visible2 {
  color: var(--main-color);
  font-weight: bold;
}
.visible2:hover {
  background-color: rgba(123, 122, 122, 0.429);
  border-radius: 50px;
  cursor: pointer;
}

/*----------------------------------------------------------------------------------------------------------*/
.addworkbox {
  width: 60%;
  height: 76vh;
}

.addwork {
  display: flex;
  justify-content: center;
}

.addwork_middlebar {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: var(--font-lg);
}

.end_worklist {
  display: block;
  margin-left: 5%;
}

.end_worklist > div {
  display: block;
  margin-bottom: 10px;
}

.todolist {
  display: block;
  margin-left: 5%;
}

.todolist > div {
  display: block;
  margin-bottom: 10px;
}

.addwork_input {
  width: 70%;
  justify-content: center;
  align-items: center;
  background-color: rgba(225, 225, 225, 0.812);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 10px;
  border: 1px solid gray;
}

.checkboxes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox_title {
  color: var(--main-color);
}
.checkbox1:hover {
  cursor: pointer;
}

.checkbox2:hover {
  cursor: pointer;
}
.memo_input {
  font-family: "SUITE-Regular";
  width: 70%;
  height: 20vh;
  display: flex;
  background-color: rgba(225, 225, 225, 0.812);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 10px;
  resize: none;
  border: 1px solid gray;
}

.addmemo {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addbuttonbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addbutton {
  width: 75%;
  height: 7vh;
  background-color: rgb(195, 109, 192);
  border: 1px solid gray;
  color: white;
  border-radius: 20px;
}

.addbutton:hover {
  background-color: rgb(106, 17, 103);
  cursor: pointer;
  outline-style: none;
}

.errors {
  display: flex; /*if문으로 조건 걸어서 잘못된 값 입력했을 경우 보이게 바꿔주기*/
  justify-content: center;
  align-items: center;
  color: red;
  font-size: var(--font-sm);
  font-weight: var(--font-weight-bold);
}

.error1 {
  margin-right: 5px;
}

.error3 {
  margin-left: 5px;
}

.error_msg {
  display: none; /*if문으로 조건 걸어서 잘못된 값 입력했을 경우 보이게 바꿔주기*/
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 1vh;
}

.span_todo {
  font-size: var(--font-md);
  color: var(--main-color);
  font-weight: bold;
  position: relative;
  top: 2px;
}
.span_memo {
  font-size: var(--font-sm);
  color: var(--main-color);
  background-color: var(--highlight-color);
  margin: 2px;
  position: relative;
  top: 2px;
}

.button_todo {
  width: 8%;
  height: 2vh;
  background-color: rgba(255, 50, 50, 0.8);
  font-size: var(--font-sm);
  color: white;
  text-align: center;
  border: none;
  border-radius: var(--border-radius);
  padding: 0 1px;
  margin: 0 2px;
}

.button_todo:hover {
  background-color: rgb(158, 9, 9);
  color: white;
  cursor: pointer;
}

/* bottom_bars -------------------------------------------- */
.bottom_bars_style {
  position: fixed;
  justify-content: center;
  align-items: center;
  font-size: var(--font-lg);
  width: auto;
  height: 6vh;
  background-color: var(--bar-color);
  bottom: 0px;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%);
  margin-bottom: 5px;
}

.bottom_bars_style > li {
  padding: 1vh;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_bars_style > a {
  padding: 1vh;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 5px;
  color: var(--main-color);
}
/* 
#add_icons {
  border-left: solid rgba(0, 0, 0, 0.3);
} */

/* bottom_bars_addpage */
.add_page_style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30vh;
  width: 60vh;
  border-radius: 20px;
  position: fixed;
  top: 75vh;
  left: 50%;
  background-color: var(--window-color);
  transform: translate(-50%, -50%);
  padding: 1vh 3vh;
}

.icons_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.icons_box > li {
  margin: 2vh;
  font-size: 50px;
  padding: 10px;
  color: var(--main-color);
  cursor: pointer;
}

.add_page_addside {
  display: flex;
  border-left: solid rgba(0, 0, 0, 0.3);
  height: 20vh;
  flex-direction: column;
  font-size: var(--font-md);
}

.add_page_addside > li > input {
  border-radius: 5% / 40%;
  background-color: rgba(225, 225, 225, 0.812);
  border: 1px solid gray;
  padding-left: 1vh;
  color: black;
  height: 4vh;
  width: 20vh;
}

.add_page_addside > li {
  padding: 1.4vh 3vh;
}

.icons_big > li {
  margin: 2vh;
}

#if-click-icon {
  color: rgba(0, 0, 255, 0.6);
}

.icons_common_color {
  color: rgba(255, 255, 255, 0.3);
}

.icons_box {
  font-size: 45px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.addicon_plus {
  margin-right: 2px;
}

.addicon_button {
  width: 100%;
  height: 5vh;
  background-color: rgb(195, 109, 192);
  border: 1px solid gray;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

/* // music player // */

.wrap__music {
  position: absolute;
  top: 16vh;
  right: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  user-select: none;
}
.music__inner {
  width: 350px; /*원래380*/
  padding: 25px 30px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  background-color: var(--window-color); /*뮤직 박스 컬러*/
}

.music__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-color); /*상단바 폰트컬러*/
}
.music__top i {
  font-size: 30px;
}
.music__top h3 {
  font-size: 18px;
  font-weight: 500;
}

.music_img {
  /*앨범의 이미지 밖의 하얀 네오 */
  width: 100%;
  height: 256px;
  overflow: hidden;
  border-radius: 15px;
  margin-top: 25px;
  background-color: var(--white);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.music_img img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: contain;
}
.music_song {
  text-align: center;
  margin: 30px;
}
.music_song p {
  color: var(--main-color);
}
.music_song .name {
  font-size: 20px;
}
.music_song .artist {
  font-size: 15px;
  opacity: 0.9;
  line-height: 35px;
  font-weight: 300;
}
.music_progress {
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #777676; /*기본 바 색상*/
  cursor: pointer;
}
.music_progress .bar {
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: rgb(255, 255, 255); /*움직이는 바 색상*/
}
.music_progress .timer {
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-color); /*시간표시 폰트 컬러*/
  font-size: 0.9em;
  pointer-events: none;
}
.music__control {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.music__control #control-prev:hover {
  /*이전버튼 hover*/
  font-size: 2.8vw;
}
.music__control #control-next:hover {
  /*다음버튼 hover*/
  font-size: 2.8vw;
}

.music__control i {
  /*여기서 버튼들 색깔 바꾼다*/
  font-size: 28px;
  user-select: none;
  background: var(--main-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.music__control i:nth-child(2),
.music__control i:nth-child(4) {
  font-size: 40px;
}

.music__control .play-pause {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.music__control .play-pause::before {
  content: "";
  position: absolute;
}
.music__control .play-pause #control-play {
  opacity: 0.8; /* 재생버튼 ▶ */
  font-size: 4vw; /* 재생버튼크기 */
}
.music__control .play-pause #control-play:hover {
  /*재생버튼 마우스 올렸을 때 */
  font-size: 4.3vw;
}

.music_list {
  position: absolute;
  background: var(--white);
  width: 100%;
  left: 0;
  bottom: -400px;
  z-index: 10;
  border-radius: 15px;
  padding: 15px 30px;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-out;
  opacity: 0;
  pointer-events: none;
}
.music_list.show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}
.music_list .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--lightblack);
  margin-bottom: 10px;
}
.title .queue {
  vertical-align: -5px;
}
.music_list .list {
  color: var(--lightblack);
}
.music_list .list > ul {
  max-height: 260px;
  margin: 10px 0;
  overflow: auto;
}
.music_list .list > ul::-webkit-scrollbar {
  width: 0;
}
.music_list .list > ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.music_list .list > ul > li.playing {
  color: var(--pinkshadow);
}
.music_list .list > ul > li > div em {
  font-style: normal;
}
.music_list .list > ul > li > div p {
  opacity: 0.8;
}
